table
{
font-size : 20px;
}

#formulaire
{
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    display: inline-block;
    margin-left: 20px;
    padding: 2px 4px;
    border: 1px solid #555;
    background-color: #CCC;
    border-radius: 4px;
}

.correct {
    border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
    border-color: rgba(68, 191, 68, 0.75);
    -moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
    border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
    border-color: rgba(191, 68, 68, 0.75);
    -moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}